In [2]:
#reading csv file
import pandas as pd
df = pd.read_csv(r"C:\Users\adarshshetty\Desktop\Datascience\py-master\pandas\2_dataframe_basics\weather_data.csv")
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [23]:
#by reading excel worksheet(xlsx)
df = pd.read_excel(r"C:\Users\adarshshetty\Desktop\Datascience\weather1.xlsx","Sheet1") 
df

         EST  Temperature
0 2019-02-01           25
1 2019-02-02           36
2 2019-02-03           26
3 2019-02-04           24
4 2019-02-05           35
5 2019-02-06           29
6 2019-02-07           28
7 2019-02-08           27
8 2019-02-09           28

In [22]:
#by using python dictionary
weather_data = {                      
    'day':['1/7/2017','2/7/2017','3/7/2017'],
    'temperature':[32,25,28],
    'windspeed':[6,7,2],
    'event':['Rain','Sunny','Snow']
}
df = pd.DataFrame(weather_data)
df

        day  temperature  windspeed  event
0  1/7/2017           32          6   Rain
1  2/7/2017           25          7  Sunny
2  3/7/2017           28          2   Snow

In [21]:
#by using tuple list
weather_data=[                     
    ('1/7/2017',32,6,'Rain'),
    ('3/7/2017',25,7,'Sunny'),
    ('2/7/2017',28,2,'Snow'),
]
df = pd.DataFrame(weather_data,columns=['day','temperature','windspeed','event'])
df

        day  temperature  windspeed  event
0  1/7/2017           32          6   Rain
1  3/7/2017           25          7  Sunny
2  2/7/2017           28          2   Snow

In [20]:
#by using dictionary list
weather_data=[
    {'day':'1/7/2017', 'temperature':32, 'windspeed':6, 'event':'Rain'},
    {'day':'2/7/2017', 'temperature':25, 'windspeed':7, 'event':'Sunny'},
    {'day':'3/7/2017', 'temperature':28, 'windspeed':2, 'event':'Snow'}
]
df = pd.DataFrame(weather_data)
df

        day  temperature  windspeed  event
0  1/7/2017           32          6   Rain
1  2/7/2017           25          7  Sunny
2  3/7/2017           28          2   Snow